{% extends 'common/base.html' %}

{% block top_js %}
<script type="text/javascript">
 $(function(){
	 $(".vipNav dd:eq(1)").show();
	 })
</script>
{% endblock top_js %}

{% block body %}
  <div class="positions">
   当前位置：<a href="../goods/index.html">首页</a> &gt; <a href="vip.html">会员中心</a>
    &gt; <a href="#" class="posCur">我的订单</a>
  </div><!--positions/-->
  <div class="cont">
   <div class="contLeft" id="contLeft">
    <h3 class="leftTitle">会员中心</h3>
    <dl class="helpNav vipNav">
     <dt>我的主页</dt>
      <dd>
       <a href="vip.html">个人中心</a>
       <a href="uorder.html">我的订单</a>
      </dd>
     <dt>账户设置</dt>
      <dd>
       <a href="vipMy.html">个人信息</a>
       <a href="repwd.html">密码修改</a>
       <a href="vip_adress.html" class="vipCur">收货地址</a>
      </dd>
      <dt>客户服务</dt>
       <dd>
        <a href="use_detail.html">网站使用条款</a>
        <a href="state.html">网站免责声明</a>
        <a href="message.html">在线留言</a>
       </dd>
    </dl><!--helpNav/-->
   </div><!--contLeft/-->
   <div class="contRight">
   <h2 class="oredrName">
    收货地址
   </h2>
   <div class="address">
    <div class="addList">
     <label><span class="red">* </span>选择地区:</label>
     <select>
      <option>请选择省</option>
     </select>
     <select>
      <option>请选择市</option>
     </select>
     <select>
      <option>请选择地区</option>
     </select>
    </div><!--addList-->
    <div class="addList">
     <label><span class="red">* </span>详细地址:</label>
     <input type="text" />
    </div><!--addList-->
    <div class="addList">
     <label><span class="red">* </span>邮政编码:</label>
     <input type="text" />
    </div><!--addList-->
    <div class="addList">
     <label><span class="red">* </span>收件人:</label>
     <input type="text" />
    </div><!--addList-->
    <div class="addList">
     <label><span class="red">* </span>手机号码:</label>
     <input type="text" /> 或者固定电话 <input type="text" />
    </div><!--addList--> 
    <div class="addList2">
     <input type="image" src="images/queren.jpg" width="100" height="32" />
    </div><!--addList2/-->
   </div><!--address/-->
   <table class="vipAdress">
    <tr>
     <th>收货人</th>
     <th>所在地区</th>
     <th>街道地址</th>
     <th>邮编</th>
     <th>电话/手机</th>
     <th>操作</th>
    </tr>
    <tr>
     <td>张益达</td>
     <td>上海 上海市 普陀区</td>
     <td>曹杨路1040弄中友大厦一号楼19楼</td>
     <td>200000</td>
     <td>13569888523</td>
     <td><span class="green upd">[修改]</span> | <span class="green add">[添加]</span> </td>
    </tr>
    <tr>
     <td>张大炮</td>
     <td>上海 上海市 普陀区</td>
     <td>曹杨路1040弄中友大厦一号楼19楼</td>
     <td>200000</td>
     <td>13569888523</td>
     <td><span class="green upd">[修改]</span> | <span class="green add">[添加]</span> </td>
    </tr>
    <tr>
     <td>李思明</td>
     <td>上海 上海市 普陀区</td>
     <td>曹杨路1040弄中友大厦一号楼19楼</td>
     <td>200000</td>
     <td>13569888523</td>
     <td><span class="green upd">[修改]</span> | <span class="green add">[添加]</span> </td>
    </tr>
    <tr>
     <td>成吉思汗</td>
     <td>上海 上海市 普陀区</td>
     <td>曹杨路1040弄中友大厦一号楼19楼</td>
     <td>200000</td>
     <td>13569888523</td>
     <td><span class="green upd">[修改]</span> | <span class="green add">[添加]</span> </td>
    </tr>
    <tr>
     <td>忽必烈</td>
     <td>上海 上海市 普陀区</td>
     <td>曹杨路1040弄中友大厦一号楼19楼</td>
     <td>200000</td>
     <td>13569888523</td>
     <td><span class="green upd">[修改]</span> | <span class="green add">[添加]</span> </td>
    </tr>
    <tr>
     <td>乾隆</td>
     <td>上海 上海市 普陀区</td>
     <td>曹杨路1040弄中友大厦一号楼19楼</td>
     <td>200000</td>
     <td>13569888523</td>
     <td><span class="green upd">[修改]</span> | <span class="green add">[添加]</span> </td>
    </tr>
   </table><!--vipAdress/-->
   </div>
   <!--contRight/-->
   <div class="clears"></div>
  </div><!--cont/-->
{% endblock body %}
